<!DOCTYPE html>
<html>
<head>
    <title>Book Library</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Book Library - {{ total_books }} total books</h1>

    <form method="POST" action="/" id="search-form">
        <input type="text" name="search_query" placeholder="Search by title or author">
        <button type="submit" class="hidden">Search</button>
    </form>
    <div class="card-container">
    {% for book in books %}
    <div class="card" data-book-id="{{ book.volumeInfo_industryIdentifiers_identifier }}">
        <h3>{{ book.volumeInfo_title }}</h3>
        <p><span class="author">Author: {{ book.volumeInfo_authors_0 }}</span></p>
        <p>Published: {{ book.volumeInfo_publishedDate }}</p>
        <img src="{{ book.volumeInfo_imageLinks_thumbnail | default(url_for('static', filename='images/book-default.png')) }}" alt="Book Cover">
    </div>
    {% endfor %}
    </div>
    
    
    <div class="modal">
        <div class="modal-content">
            <h3>Edit Book</h3>
                Hello
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>